:root {
	--container-width: 80ch;

	--teal-1: #63e6be;
	--teal-3: #20c997;
	--teal-5: #0ca678;

	--pink-1: #faa2c1;
	--pink-2: #f06595;
	--pink-3: #d6336c;

	--indigo-1: #91a7ff;
	--indigo-2: #5c7cfa;
	--indigo-3: #4263eb;

	--gray-1: #aaa;
	--gray-2: #777;
	--gray-3: #444;
}

*,
*:after,
*:before {
	box-sizing: border-box;
	color: inherit;
	font: inherit;
	margin: 0;
	padding: 0;
	transition: all 200ms linear;
}

html {zz
	height: 100%;
}
body {
	background-color: var(--teal-1);
	display: flex;
	flex-direction: column;
	gap: 1rem;
	min-height: 100%;
}

main {
	display: flex;
	flex: 1 0;
	flex-direction: column;
	gap: 1rem;
	margin: auto;
	max-width: var(--container-width);
	padding: 1rem;
	width: 100%;
}

h1 {
	font-size: 1.5rem;
	font-weight: 600;
	text-align: center;
}

h2 {
	font-size: 1.25rem;
	font-weight: 600;
}

em {
	font-weight: 600;
}

hr {
	background-color: var(--gray-1);
	border: 0;
	height: 2px;
}

input[type='text'] {
	background-color: transparent;
	border-color: black;
	border-style: dotted;
	border-width: 0 0 1px 0;
	padding: 0.25rem 0.5rem;
	width: 100%;
}

input[type='text']:invalid {
	border-color: red;
	border-style: solid;
}

input[type='checkbox'] {
	position: fixed;
	top: -100vh;
}

input[type='checkbox'] + span {
	display: flex;
	gap: 0.5ch;
}

input[type='checkbox'] + span:before {
	background-color: white;
	border: 1px solid black;
	border-radius: 2px;
	content: '';
	display: grid;
	font-size: 0.75rem;
	font-weight: 600;
	height: 1rem;
	place-items: center;
	width: 1rem;
}

input[type='checkbox']:checked + span:before {
	content: '\2713';
}

input[type='checkbox'].toggle + span:before {
	display: none;
}

input[type='checkbox'].toggle:is(:active, :focus, :hover) + span {
	border-color: var(--indigo-2);
}

input[type='checkbox'].toggle + span {
	border: 2px solid transparent;
	border-radius: 4px;
	font-size: 0.75rem;
	padding: 0.25rem 0.5rem;
	white-space: nowrap;
}

input[type='checkbox'].toggle:checked + span {
	background-color: var(--indigo-2);
	color: white;
}

input[type='checkbox'].collapse + svg {
	font-size: 0.75rem;
	transform: rotate(90deg);
	transform-origin: center;
	pointer-events: all;
}

input[type='checkbox'].collapse:checked + svg {
	transform: rotate(0deg);
}

button.delete {
	background-color: transparent;
	border: 0;
	border-bottom: 2px solid transparent;
	font-size: 0.5rem;
}

button.delete:is(:active, :focus, :hover) {
	color: red;
	border-bottom-color: red;
}
